@charset "UTF-8";
@import "variables","mixins";

html,body{
	overflow: hidden;
	font-size: $baseFontSize;
	font-family: $baseFontFamily;
}
.player{
	position: absolute;
	top: 5.55vw;
	right: 5.55vw;
	width: 15vw;
	height: 15vw;
	background-color: $white;
	border:3px solid $red;
	@include border-radius(50%);
	z-index: 1;
	.audio{
		background-image: url("../images/music_disc.png");
		background-repeat: no-repeat;
		background-position: center center;
		background-size: 13.88vw 13.88vw;
		width: 13.88vw;
		height: 13.88vw;
		@include border-radius(50%);
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		margin:auto;
		&.run{
			animation:audio 3s linear infinite;
		}
	}
	.audio-btn{
		background-image: url("../images/music_pointer.png");
		background-repeat: no-repeat;
		background-position: center center;
		background-size: 5.55vw 11.11vw;
		width: 5.55vw;
		height: 5.55vw;
		position: absolute;
		top: 0;
		right: 0;
	}
	@keyframes audio{
		0%{
			@include transform(rotate(0deg));
		}
		100%{
			@include transform(rotate(360deg));
		}
	}
}
.page{
	position: absolute;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 100vw 100vh;
	width: 100%;
	height: 100%;
}
// pageOne
.pageOne{
	display: block;
	background-image: url("../images/p1_bg.jpg");
}
.lantern{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	margin:auto;
	width: 44.44vw;
	height: 78.12vh;
	background-image: url("../images/p1_lantern.png");
	background-repeat: no-repeat;
	background-position: center top; 
	background-size: 44.44vw 82.81vh;
	z-index: 1;
	.redhot{
		content: "";
		height: 25vh;
		width: 36.25vw;
		background-color: lighten($red,20%);
		@include border-radius(50%); 
		@include box-shadow(0 0 6.25vw 3.75vw lighten($red,20%));
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		margin: auto;
		z-index: -1;
		animation: redhot 0.5s linear alternate  infinite;
	}
	@keyframes redhot{
		0%{
			@include opacity(0.8);
			@include transform(scale(1,1));
		}
		100%{
			@include opacity(1);
			@include transform(scale(1.1,1.1));
		}
	}
	.lantern-text{
		text-align: center;
		color: white;
		height: 7.8vh;
		font-size: 1.4rem;
		line-height: 1.5em;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		margin: auto;
	}
}
.footer{
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	height: 20.31vh;
	.fd-imooc-logo{
		width: 13.88vw;
		height: 12.5vh;
		background-image: url("../images/p1_imooc.png");
		background-repeat: no-repeat;
		background-position: center top;
		background-size: 13.88vw 12.5vh;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		margin:auto;
	}
	.copyright{
		position: relative;
		top: 12.5vh;
		text-align: center;
	}
}

//pageTwo
.pageTwo{
	display: none;
	background-image: url("../images/p2_bg.jpg");
	bottom: 0;
	@include transition(bottom .6s);
	.bg-blur{
		width: 100%;
		height: 100%;
		background-color: #f2f2f2;
		animation: blur 1s linear forwards;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 10;
		@keyframes blur{
			0%{
				opacity: 1;
			}
			100%{
				opacity: 0;
			}
		}
	}
	.circle-outer{
		width: 41.66vw;
		height: 41.66vw;
		background-image: url("../images/p2_circle_outer.png");
		background-repeat: no-repeat;
		background-position: center center;
		background-size: 41.66vw 41.66vw;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		margin: auto;
		z-index: 1;
		animation: outer 1s linear infinite;
		animation-delay: 1s;
	}
	.cricle-middle{
		width: 33.33vw;
		height: 33.33vw;
		background-image: url("../images/p2_circle_middle.png");
		background-repeat: no-repeat;
		background-position: center center;
		background-size: 33.33vw 33.33vw;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		margin: auto;
		animation: middle .5s linear infinite;
		animation-delay: .5s;
	}
	.cricle-inner{
		width: 27.77vw;
		height: 27.77vw;
		background-image: url("../images/p2_circle_inner.png");
		background-repeat: no-repeat;
		background-position: center center;
		background-size: 27.77vw 27.77vw;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		margin: auto;
		animation: inner .5s linear infinite;
	}
	.p2-2016{
		width: 22.22vw;
		height: 4.06vh;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		margin: auto;
	}
	@keyframes outer{
		0%{
			@include transform(rotate(0deg));
		}
		100%{
			@include transform(rotate(-360deg));
		}
	}
	@keyframes middle{
		0%{
			@include transform(rotate(0deg));
		}
		100%{
			@include transform(rotate(1080deg));
		}
	}
	@keyframes inner{
		0%{
			@include transform(rotate(0deg));
		}
		100%{
			@include transform(rotate(-360deg));
		}
	}
}
.pageThree{
	display: none;
	background-image: url("../images/p3_bg.jpg");
	bottom: -100%;
	@include transition(bottom .6s);
	.imooc-logo{
		width: 33.33vw;
		height: 7.81vh;
		background-image: url("../images/p3_logo.png");
		background-repeat: no-repeat;
		background-position: center center;
		background-size: 33.33vw 7.81vh;
		position: absolute;
		top: 7.81vh;
		left: 0;
		right: 0;
		margin: auto;
	}
	.title{
		width: 40vw;
		height: 50vh;
		background-image: url("../images/p3_title.png");
		background-repeat: no-repeat;
		background-position: center center;
		background-size: 40vw 50vh;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		margin: auto;
	}
	.couplet-next{
		width: 40vw;
		height: 50vh;
		background-image: url("../images/p3_couplet_second.png");
		background-repeat: no-repeat;
		background-position: center center;
		background-size: 20vw 40vh;
		position: absolute;
		top: 0;
		left: 0;
		right: 66vw;
		bottom: 0;
		margin: auto;
	}
	.couplet-prev{
		width: 40vw;
		height: 50vh;
		background-image: url("../images/p3_couplet_first.png");
		background-repeat: no-repeat;
		background-position: center center;
		background-size: 20vw 40vh;
		position: absolute;
		top: 0;
		left: 66vw;
		right: 0;
		bottom: 0;
		margin: auto;
	}
	.blessing{
		width: 27.77vw;
		height: 27.77vw;
		background-image: url("../images/p3_blessing.png");
		background-repeat: no-repeat;
		background-position: center center;
		background-size: 27.77vw 27.77vw;
		position: absolute;
		left: 0;
		right: 0;
		bottom: 7.5vh;
		margin: auto;
		animation: blessing 2s linear infinite;
	}
	@keyframes blessing{
		0%{
			@include transform(rotate(0deg));
		}
		100%{
			@include transform(rotate(360deg));
		}
	}
}